BASE_URL="http://localhost:3000"
OPENAI_API_KEY= <#PUT_YOUR_KEY_HERE#>
GOOGLE_API_KEY=<#PUT_YOUR_KEY_HERE#>
SEARXNG_URL=http://localhost:8888
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=