.message {
  padding: 8px 16px;
  margin-bottom: 10px;
  border-radius: 16px;
  /* max-width: 80%; */
  /* width: compact; */
}

.message.sent {
  align-self: flex-end;
  background-color: #e5e5ea;
  max-width: 80%;
  min-width: 30%;
  width: auto;
  color: black;
}

.message.received {
  align-self: flex-start;
  background-color: #e5e5ea;
  color: black;
  max-width: 80%;
  min-width: 30%;
}
